<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de Usuarios</title>
    <style type="text/css">
        input { background-color: cyan; }
    </style>
</head>
<body>
    <div id="main">
        <h1> Lista de usuarios </h1>

        <ul>
            <li v-for="user in users" :key="user.name">
                {{ user.name }} - {{ user.rol }}
            </li>
        </ul>

        <br>

        <form>
            <fieldset>
                <label> Nombre: </label>
                <input type="text" v-model="name" />
            </fieldset>

            <br>

            <fieldset>
                <label> Rol: </label>
                <input type="text" v-model="rol" />
            </fieldset>

            <br>

            <button v-on:click="addNewUser" type="button">
                Guardar usuario
            </button>
        </form>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp, ref } = Vue;

        createApp({
            setup() {
                let name = ref('');
                let rol = ref('');
                let users = ref([
                    { "name": "Angel", "rol": "Frontend" },
                    { "name": "Diego", "rol": "Backend" },
                    { "name": "Eduardo", "rol": "Movil" },
                    { "name": "Erik", "rol": "Backend" }
                ]);

                function addNewUser() {
                    if (name.value && rol.value) {
                        users.value.push({ name: name.value, rol: rol.value });
                        name.value = '';
                        rol.value = '';
                    }
                }

                return {
                    users,
                    name,
                    rol,
                    addNewUser
                };
            }
        }).mount('#main');
    </script>
</body>
</html>
